<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- xml 注入factoryBean	-->
	<!-- 一个一个注入，比较麻烦，给一个包名去指定扫描注入	-->
	<bean id="t" class="com.test.batis.MyFactoryBean">
		<property name="mapperInterface" value="com.test.batis.dao.SMapper"></property>
	</bean>

</beans>